<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.mps.ptapp"
        version="1.0.0">

    <name>Previsão do Tempo</name>

    <description>
        Aplicativo para Visualização de Previsão de Tempo
    </description>

    <author href="" email="">
        Marcos Paulo
    </author>
    
	<preference name="permissions" value="none" />
	
</widget>
